{% extends "layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <script src="../helper/Mascaras.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
<h4>Cadastro de Selecao</h4>
<div>         
  <form Method ="POST" enctype="multipart/form-data" Action ="?acao=create">  
  <fieldset>
    <div class="container-fluid">
            <font color = 'white'> Sign up</font>
                <div class="span9">    
            <label>Nota:</label> 
                <input type='text' name='nota' placeholder="nota"
                value='{{nota}}' >
            <label>Aluno:</label> 
            <select name="aluno">
                {% for prof in alunos %}
                <option value="{{prof.id_aluno}}">{{prof.nome}}</option>
                {% endfor %}
            </select><br>
            <label>Projeto:</label> 
            <select name="projeto">
                {% for prof in projetos %}
                <option value="{{prof.id_projeto_de_monitoria}}">{{prof.atividades}}</option>
                {% endfor %}
            </select><br>
            <input name="aprovado" type="checkbox">Aprovado?<br>
            
            <label>Horario de atendimento: </label>
            <select name="listmultiple[]" size="3" multiple="true">
            <option value="1">Manhã</option>
            <option value="2">Tarde</option>
            <option value="4">Noite</option>
          </select>

            <p><input type='submit' class="btn" value="Register" name="enviar">
                 <input name="limpar" class="btn" type="reset" id="limpar" value="Clean">
                 <input type="button" class="btn" value="Return" onClick="document.location='../View/index.php'"> </p>
       </div>
       </fieldset>
       </form>
       </div>    

{% endblock %}