{% extends "layout.twig" %}

{% block title %}Editar dados{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h4>Editando Professor</h4>

 {% for entity in entities %}

     <div>         
        <form Method ="POST" enctype="multipart/form-data" Action ="?acao=update">
         
        <fieldset>
            <font color = 'white'> Sign up</font>
            <label>Nome:</label> 
                <input type='text' name='nome' placeholder="nome"
                value='{{nome}}' >
                <label>Chefe: </label>
              <select name="chefe">
                {% for prof in professores %}
                {% if prof.id_professor == entity.id_professor %}
                <option value="{{prof.id_professor}}" selected>{{prof.nome}}</option>
                {% else %}
                <option value="{{prof.id_professor}}">{{prof.nome}}</option>
                {% endif %}
            {% endfor %}
            </select><br>
                <input type='hidden' name='id' value='{{entity.id_departamento}}'>
            <p><input type='submit' class="btn" value="Edit" name="enviar">
                 <input name="limpar" class="btn" type="reset" id="limpar" value="Clean">
                 <input type="button" class="btn" value="Return" onClick="document.location='../View/index.php'"> </p>
       </fieldset>
       </form>
       </div>    
{% endfor %}


{% endblock %}