{% extends "layout.twig" %}
{% block title %}List Aluno{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
      <script src="../helper/Mascaras.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <h4>Exibindo Monitoria</h4>
     <ul><div>
      <fieldset>
           
<table border=2 align="center">
  <tr> 
    <td>dataInicio</td>
    <td>dataFim</td>
    <td>semestre</td>
    <td>status</td>
    <td>bolsa</td>
    <td>unidade</td>
    <td>orgao</td>
    <td>componentesCurriculres</td>
    
    <td>Editar</td>
    <td>Remover</td>
  </tr>

 {% for entity in entities %}
  <tr> 
    <td>&nbsp;{{entity.dataInicio}}</td>
    <td>&nbsp;{{entity.dataFim}}</td>
    <td>&nbsp;{{entity.semestre}}</td>
    <td>&nbsp;{{entity.status}}</td>
    <td>&nbsp;{{entity.bolsa}}</td>
    <td>&nbsp;{{entity.unidade}}</td>
    <td>&nbsp;{{entity.orgao}}</td>
    <td>&nbsp;{{entity.componentesCurriculres}}</td>

  <td><a href = ?acao=edit&idMonitoria={{entity.id_monitoria}}>Editar</a></td>
	<td><a onclick="return show_confirm('Tem certeza que deseja excluir?');" href = ?acao=delete&idMonitoria={{entity.id_monitoria}}>Excluir</a></td>  
    </tr>
  {% endfor %}

<?php
}
}
?>

</table> 
       </fieldset>
      </div></ul>    
{% endblock %}