{% extends "layout.twig" %}

{% block title %}Index{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <script src="../helper/Mascaras.js" type="text/javascript"></script>
    <script type="text/javascript" src="tiny_mce/tiny_mce.js"></script>
{% endblock %}
{% block content %}
<h4>Cadastro de Monitoria</h4>

<div>         
  <form Method ="POST" enctype="multipart/form-data" Action ="?acao=create">
  <fieldset> 
   <div class="container-fluid">
    <div class="row-fluid"> 
      <font color = 'white'>Nova Monitoria</font>
          <div class="span3">
            <label>Data de inicio:</label> 
                <input type='date' name='dataInicio' placeholder="dataInicio"
                value='{{dataInicio}}' >
          </div>
          <div class="span3">
            <label>Data de Fim:</label> 
                <input type='date' name='dataFim' placeholder="data de fim"
                value='{{dataFim}}' >
          </div>
          <div class="span3">
            <label>Semestre:</label>
                <input id="semestre" type='text' name='semestre' placeholder="semestre"
                value='{{ semestre }}' >
          </div>
      </div>
      
      <div class="row-fluid"> 
           <div class="span3">
            <label>Professor:</label> 
            <select name="idProfessor">
                {% for prof in professores %}
                <option value="{{prof.id_professor}}">{{prof.nome}}</option>
                {% endfor %}
            </select>
          </div>
           <div class="span3"> 
            <label>Professor orientador:</label>
             <select name="idProfessorOrientador">
                {% for prof in professores %}
                <option value="{{prof.id_professor}}">{{prof.nome}}</option>
                {% endfor %}
            </select>
          </div>
           <div class="span3"> 
            <label>Aluno:</label> 
            <select name="idAluno">
                {% for alu in alunos %}
                <option value="{{alu.id_aluno}}">{{alu.nome}}</option>
                {% endfor %}
            </select>
          </div>
        </div>

      <div class="row-fluid"> 
        <div class="span3">
             <label>Unidade: </label>
                 <input type='text' name='unidade' placeholder="unidade"
                  value='{{unidade}}' >
        </div>
         <div class="span3"> 
            <label>Orgão: </label>
                 <input type='text' name='orgao' placeholder="orgão"
                  value='{{orgao}}' >
          </div>
               <div class="span1">
          <input name="bolsa" type="checkbox">Bolsa?<br>
            <input name="status" type="checkbox">Ativa?<br>
        </div>

         <div class="span9"> 
            <label>Componentes curriculares: </label>
                 <textarea id="content" style="margin: 0px 0px 10px; width: 724px; height: 115px;" type='text' name='componentesCurriculres' placeholder="componentes curriculres" value='{{componentesCurriculres}}' ></textarea>
        </div>
      </div>
      </div>
            <p><input type='submit' class="btn" value="Register" name="enviar">
                 <input name="limpar" class="btn" type="reset" id="limpar" value="Clean">
                 <input type="button" class="btn" value="Return" onClick="document.location='../View/index.php'"> </p>
      
       </fieldset>
   
       </form>
       </div>    

{% endblock %}