{% extends "layout.twig" %}
{% block title %}List Aluno{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
      <script src="../helper/Mascaras.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <h4>Exibindo Relatorios</h4>
     <ul><div>
      <fieldset>
           
<table border=2 align="center">
  <tr> 
    <td>Nome</td> 
    <td>tipo</td>     
  </tr>

 {% for entity in entities %}
  <tr> 
    <td>&nbsp;{{entity.nome}}</td>
    <td>&nbsp;{{entity.tipo}}</td>    
  <td><a href = ?acao=download&idRelatorio={{entity.id_relatorio}}>Download</a></td>  
  <td><a href = ?acao=edit&idRelatorio={{entity.id_relatorio}}>Alterar</a></td>
	<td><a onclick="return show_confirm('Tem certeza que deseja excluir?');" href = ?acao=delete&idRelatorio={{entity.id_relatorio}}>Excluir</a></td>	
    </tr>
  {% endfor %}

<?php
}
}
?>

</table> 
       </fieldset>
      </div></ul>    
{% endblock %}