{% extends "layout.twig" %}

{% block title %}Editar dados{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
{% endblock %}
{% block content %}
    <h4>Editando aluno</h4>

 {% for entity in entities %}

     <div>         
        <form Method ="POST" enctype="multipart/form-data" Action ="?acao=update">
         
  <fieldset>
    <div class="container-fluid">
        <div class="row-fluid"> 
            <font color = 'white'> Sign up</font>
            <div class="span9">
                <label>Nome:</label> 
                    <input style="width: 710px;" type='text' name='nome' placeholder="nome"
                    value='{{nome}}' >
            </div>
            <div class="span3">
                <label>Genero:</label> 
                <select name="genero"> 
                  <option value="" >Genero</option>
                  <option value="M" >Masculino</option>
                  <option value="F" >Feminino</option>       
                </select>
            </div>
            <div class="span3"> 
                <label>CPF:</label>
                    <input id="CPF" type='text' name='cpf' placeholder="ex: 111.111.111-11"
                    value='' >
            </div>
            <div class="span3">
                <label>Email:</label>
                    <input type='text' name='email' placeholder="@email.com"
                    value='' >
            </div>
            <div class="span3">
                <label>RG:</label> 
                     <input  type='text' name='rg' placeholder="ex: 11111111-11" 
                     value='{{rg}}' >
            </div>
            <div class="span3">
                <label>Orgão emissor: </label>
                     <input type='text' name='orgaoEmissor' placeholder="ex: SSPBA"
                      value='{{orgaoEmissor}}' >
            </div>
            <div class="span3">
                <label>Senha: </label>
                    <input type='password' name='senha' placeholder="Senha"
                    value='' > 
            </div>
            <div class="span9">
                <label>Endereco: </label>
                     <input style="width: 710px;" type='text' name='endereco' placeholder="endereço" value='{{endereco}}' >
            </div>
            <div class="span3">
                <label>Telefone: </label>
                     <input type='text' name='telefone' placeholder="(71) XXXX-XXXX)"
                      value='{{telefone}}' >
            </div>
            <div class="span3">
                <label>Matricula: </label>
                     <input type='text' name='matricula' placeholder="ex: 111111111"
                      value='{{matricula}}' >
            </div>
            <div class="span3">
                <label>Ano de Ingresso: </label>
                     <input type='text' name='anoIngresso' placeholder="ex: 2000.1"
                      value='{{anoIngresso}}' >
            </div>
            <div class="span6">
                <label>Curso: </label>
                     <input style="width: 460px;" type='text' name='curso' placeholder="curso"
                      value='{{curso}}' >
            </div>
            <div class="span3"> 
                <label>Historico: </label>
                     <input type="file" name="historico" value='{{historico}}'><br>
            </div>
        </div>
    </div>
    
    <h4>Dados de conta:<h4>
        <div class="container-fluid">
             <div class="row-fluid">
                <div class="span3"> 
                    <label>Banco: </label>
                         <input type='text' name='banco' placeholder="banco"
                          value='{{banco}}' >
                </div>
                <div class="span3"> 
                    <label>Agencia: </label>
                         <input type='text' name='agencia' placeholder="ex: 11111-1"
                          value='{{agencia}}' >
                </div>
                <div class="span3"> 
                    <label>Conta Corrente: </label>
                         <input type='text' name='cc' placeholder="ex: 2000.1"
                          value='{{cc}}' >
                </div>
            </div>

                <input type='hidden' name='id' value='{{entity.id_aluno}}'>
            <p><input type='submit' class="btn" value="Edit" name="enviar">
                 <input name="limpar" class="btn" type="reset" id="limpar" value="Clean">
                 <input type="button" class="btn" value="Return" onClick="document.location='../../index.php'"> </p>
       </fieldset>
       </form>
       </div>    
{% endfor %}


{% endblock %}