{% extends "layout.twig" %}

{% block title %}Editar dados{% endblock %}
{% block head %}
    {{ parent() }}
    <style type="text/css">
        .important { color: #336699; }
    </style>
    <script src="../helper/Mascaras.js" type="text/javascript"></script>
{% endblock %}
{% block content %}
    <h4>Editando aluno</h4>

 {% for entity in entities %}

     <div>         
        <form Method ="POST" enctype="multipart/form-data" Action ="?acao=update">
         
  <fieldset>
    <div class="container-fluid">
        <div class="row-fluid"> 
            <div class="span3">
                <label>Genero:</label>
                <input type='text' name='genero' value='{{entity.genero}}' disabled>
            </div>
            <div class="span3"> 
                <label>CPF:</label>
                <input id="CPF" type='text' name='cpf' value='{{entity.cpf}}' disabled>
            </div>
            <div class="span3">
                <label>RG:</label> 
                <input  type='text' name='rg' value='{{entity.rg}}/{{entity.orgao_emissor}}' disabled>
            </div>
            <div class="span3">
                <label>Matricula:</label> 
                <input  type='text' name='matricula' value='{{entity.matricula}}' disabled>
            </div>
        </div>
        <div class="row-fluid"> 
            <div class="span9">
                <label>Nome:</label> 
                <input style="width: 710px;" type='text' name='nome' value='{{entity.nome}}' disabled>
            </div>
            <div class="span3">
                <label>Email:</label>
                    <input type='text' name='email' placeholder="@email.com"
                    value='{{entity.email}}'>
            </div>
            <div class="span9">
                <label>Endereco: </label>
                     <input style="width: 710px;" type='text' name='endereco' placeholder="endereço" value='{{entity.endereco}}' >
            </div>
            <div class="span3">
                <label>Telefone: </label>
                     <input type='text' name='telefone' placeholder="(71) XXXX-XXXX)"
                      value='{{entity.telefone}}' >
            </div>
            <div class="span3">
                <label>Ano de Ingresso: </label>
                     <input type='text' name='anoIngresso' placeholder="ex: 2000.1"
                      value='{{entity.ano_ingresso}}' >
            </div>
            <div class="span6">
                <label>Curso: </label>
                     <input style="width: 460px;" type='text' name='curso' placeholder="curso"
                      value='{{entity.curso}}' >
            </div>
            <div class="span3"> 
                <label>Historico: </label>
                     <input type="file" name="historico" value='{{entity.nome_historico}}'><br>
            </div>
        </div>
    </div>
    
    <h4>Dados de conta:<h4>
        <div class="container-fluid">
             <div class="row-fluid">
                <div class="span3"> 
                    <label>Banco: </label>
                         <input type='text' name='banco' placeholder="banco"
                          value='{{entity.banco}}' >
                </div>
                <div class="span3"> 
                    <label>Agencia: </label>
                         <input type='text' name='agencia' placeholder="ex: 11111-1"
                          value='{{entity.agencia}}' >
                </div>
                <div class="span3"> 
                    <label>Conta Corrente: </label>
                         <input type='text' name='cc' placeholder="ex: 2000.1"
                          value='{{entity.cc}}' >
                </div>
            </div>

            <input type='hidden' name='id' value='{{entity.id_aluno}}'><p>
            <input type='submit' class="btn" value="Edit" name="enviar">
            <input type="button" class="btn" value="Return" onClick="document.location='../index.php'"> 
            <button><a onclick="return show_confirm('Tem certeza que deseja excluir?');" href = ?acao=delete&idAluno={{entity.id_aluno}}>Excluir</a></button>    
       </fieldset>
       </form>
       </div>    
{% endfor %}


{% endblock %}